/** styling headerimg component*/
.headerImg {
    width: 100%;
    overflow: hidden;
}
.headerImg .image{
    width: 120%;
    height: 30vmax;
    overflow: hidden;
    top: 13vmax;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px 0px 50% 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
}
.headerImg .image:hover {
    background-color: rgba(0, 0, 0, 0.185);
}
.headerImg .image img {
    width: 83.3333333333333%;
    height: 50vmax;
    margin-left: 8.3333333333333%;
    top: -50%;
    object-fit: cover;
    mix-blend-mode: multiply;
    position: fixed;
}

.image .title, nav {
    position: absolute;
    z-index: 100;
}
.image .title {
    left: 5%;
    top: 10%;
    width: 90%;
    color: rgb(255, 255, 255);
    text-align: center;
}
.image .title h1 {
    font-size: 8em;
    color: transparent;
    background: linear-gradient(45deg, rgb(169, 83, 255), rgb(255, 206, 198));
    background-clip: text;
}
.contIcon {
    font-size: 1.8em;
    color: rgb(45, 11, 49);
}


/** styling for offer cakes*/
.offer {
    width: 70%;
    height: fit-content;
    left: 15%;
    text-align: center;
}
.offer .offerBanner {
    width: 90%;
    height: 18em;
    margin: 5%;
    background: linear-gradient(45deg, rgba(128, 0, 128, 0.144), rgba(255, 196, 87, 0.308));
    border-radius: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50% 50%;
}
.offerBanner .offerText {
    width: 100%;
    top: 1.5em;
    height: 15em !important;
    display: grid;
    grid-auto-flow: row;
    height: inherit;
    text-align: center;
}
.offerText * {
    margin-left: auto;
    margin-right: auto;
}
.offer .offerBanner img {
    width: 100%;
    height: inherit;
    object-fit: contain;
}

/** styling catalogue*/
.catalogue {
    text-align: center;
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    background-color: #ff6a6d17;
    border-radius: 15px;
    padding-bottom: 5%;
}
.catalogue .catalist {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/** after sales stying */
.afterSales {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #FF4700;
    line-height: 40vmax;
}
.afterSales img {
    width: 50%;
    object-fit: contain;
}

/** footer styling */
footer {
    display: flex;
    height: 10vmax;
    justify-content: center;
}
.spinner {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 6px solid #FCEAD1;
    border-top: 6px solid #FF7C9D;
    position: absolute;
    top: 40vmax;
    left: 37vmin;
    animation-name: spin;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
}
@keyframes spin {
    from{transform: rotateZ(360deg);
        border: 6px solid #FCEAD1; 
        border-top: 6px solid #FF7C9D;}
    to{}
}


@media only screen and (max-width: 640px) {
    .headerImg .image {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .image .title h1{
        color: transparent;
        background: linear-gradient(45deg, rgb(169, 83, 255), rgb(255, 206, 198));
        background-clip: text;
        font-size: 5em;
    }
    /** styling for cake banner */
    .offer .offerBanner {
        height: 12em;
    }
    .offerBanner .offerText {
        height: 10em !important;
        top: 1em;
    }
    
    /** styling for cake on offer */
    .offer {
        width: 100%;
        left: 0;
        margin: 0;
        border-radius: 0px !important;
    }
}
