
.selections {
    text-align: center;
    width: 100%;
}
.selections h2 {
    font-family: stencil;
    font-size: 3vmax;
    width: 50%;
    margin-left: 25%;
    border-bottom: 2px black solid;
}
.selections .options {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 2vmax;
    margin-top: 5%;
}
.selections .options button {
    text-decoration: none;
    background-color: transparent;
    width: 40%;
    height: 3vmax;
    color:black;
    user-select: "none";
    margin-left: 30%;
    line-height: 3vmax;
    font-family: unicased;
    font-size: 3vh;
    transition: background-color 0.4s;
}
.selections .options button:hover {
    background-color: #D791FF;
    color: white;
}

/** cake item styling*/
.cakeItem {
    width: 40vh;
    height: 40vh;
    background-image: linear-gradient(135deg, #8F8FDC, #F1D8F6);
    margin: 1%;
    transform-origin: left;
    transition: transform 0.5s, box-shadow 0.2s;
}
.cakeItem:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.349);
}
.cakeItem .cakeImg {
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.cakeItem .cakeImg img {
    width: 100%;
    height: 30vh;
}
.cakeItem .labelPart {
    display: flexbox;
    height:  10vh;
    text-align: center;
}
.cakeItem .labelPart p {
    width: 100%;
    height: 4vh;
    text-align: center;
    line-height: 4vh;
    font-weight: bolder;
}
.cakeItem .labelPart button {
    width: 60%;
    height: 5vh;
    font-size: 3vh;
    font-weight: bolder;
    transition: background-color 1.1s;
}
.cakeItem .labelPart button:hover {
    background-color: #b642fa;
}
/** RegularOrder styling */
.regularOrder {
    display: flex;
    flex-wrap: wrap;
}
.regularOrder .cakeImage {
    width: 30vmin;
    height: 30vmin;
    background-color: #8F8FDC;
}
form {
    width: 30vmax;
    height: 50vh;
    min-height: fit-content;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: space-around;
}
form div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
    justify-content: space-around;
}
.buy {
    flex-direction: column;
    width:  25vmax;
}

form label {
    width: 10vmax;
    height: 2vmax;
    line-height: 2vmax;
    text-align: center;
}
form select {
    width: 15.2vmax;
}
form input, select {
    width: 15vmax;
    height: 2vmax;
    outline: none;
    font-size: 1.05em;
    line-height: 3vmax;
    border: 2px solid black;
}
form button, .price{
    width: 15vmax;
    height: 5vmin;
    margin-left: 40%;
}
form .price {
    background-color: #F6E5FF;
    border: none;
    text-align: center;
}
form button {
    font-size: 1.05em;
    background-color: #F6D17A;
}


@media only screen and (max-width: 480px) {
    
    .selections h2 {
        width: 80%;
        margin-left: 10%;
    }
    .selections .options {
        font-size: 3vh;
    }
    .selections .options a {
        height: 6vmax;
        line-height: 6vmax;
    }
}
