/** cake item styling */
.cakeItem {
    width: 20vmax;
    height: fit-content;
    text-align: center;
    margin-left: 5%;
}
.cakeItem .cakeImg {
    width: 95%;
    height: 20vmin;
    padding: 2.5%;
    display: flex;
    justify-content: space-around;
}
.cakeImg img {
    width: 100%;
    object-fit: contain;
}

/** basket styling */
.cartStyle {
    width: 3em;
    height: 3em;
    position: fixed;
    top: 50%;
    left: 0;
}
.cartStyle .gibasket {
    font-size: 2.5em;
    color: orangered;
}
.gibasket:active {
    color: black;
}
.cartStyle h3 {
    position: absolute;
    color: purple;
    top: 0%;
    left: 80%;
}

/** order section styling */
.orderForm {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    display: flex;
}
.orderForm .image {
    width: 40%;
    height: 40vmin;
    overflow: hidden;
}
.orderForm .image img {
    width: 100%;
    height: 40vmin;
    object-fit: contain;
}
.orderForm form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2%;
}
input, select {
    width: 15em;
    height: 3em;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.171);
}

@media only screen and (max-width: 640px){
    .cakeItem {
        width: 40vmax;
        margin-left: 2.5%;
    }
    .cakeImg {
        height: 40vmin !important;
    }
    .cakeImg img {
        height: 40vmin;
    }
}
