* {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  outline: transparent;
}
@font-face {
  font-family: onelove;
  src: url(./fonts/onelove.ttf);
}
h1 {
  font-family: onelove, chiller;
  font-size: 6vmax;
}
button {
  width: 10em;
  height: 5vmin;
  color: white;
  border-radius: 15px;
  background-color: rgb(255, 124, 157);
}
button:active {
  background-color: black;
}
html, body {
  background: white;
}

/** order page styling */
.orderWidget {
  width: 90%;
  height: 80vh;
  left: -150%;
  top: 10%;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
  background-color: white;
  opacity: 1;
  display: grid;
  grid-auto-flow: row;
  transition: opacity 5s, display 5s, width 5s, height 5s, margin-left 1s;
}
.orderWidget nav {
  width: 100%;
  height: 3em;
  background-color: pink;
  position: sticky;
  top: 0;
  z-index: 500;
}
.orderWidget nav button {
  width: 1.3em;
  height: 1.3em;
  font-size: 2em;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4em !important;
  background-color: transparent;
}

@media only screen and (max-width: 640px){
  button {
    height: 3em;
  }
}
