@media only screen and (max-width: 480px){
    .landingPage {
        min-height: 100vh;
        width: 100%;
    }
    .landingPage .landingPageImage {
        width: 100%;
    }
    .landingPage .navigations {
        height: 60vh;
    }
    .showCatalogue {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .showCatalogue::-webkit-scrollbar {
        width: 1vh;
        visibility: hidden;
    }
    .showCatalogue::-webkit-scrollbar-thumb {
        visibility: hidden;
    }
    .showCatalogue {
        width: 100%;
    }
    .showCatalogue .cakeTray {
        flex-direction: column;
    }
    .showCatalogue .cakeTray .title {
        width: 100%;
        height: 5vh;
        flex-direction: row;
        text-align: center;
    }
    .order .quoteImage {
        display: none;
    }
    .order .orderSide {
        width: 100%;
        display: block;
    }
    .orderSide nav {
        height: 10vh;
    }
    .order nav .chooseCustom {
        width: 100%;
        font-size: 1em;
    }
    .customOrder {
        margin: 0;
    }
    .eventPage .eventImg {
        width: 100%;
    }
    .eventPage .eventImg img {
        width: 50%;
        height: 25vh;
    }
    .eventPage .eventForm {
        width: 90%;
        margin-left: 5%;
    }
    .eventForm article {
        width: 80%;
        margin-left: 10%;
    }
}